* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: aliceblue;
    padding: 30px;
}

.nav {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
}

.nav_link {
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
}

.content {
    padding: 48px;
}

.footer {
    background-color: rgb(76, 43, 197);
    color: white;
    text-align: center;
    padding: 24px;
}