* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.all {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: #213B7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 16px;
    padding-right: 16px;
   
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu_link_active {
    background-color: white;
    color: #213B7E;
    text-decoration: none;
}

.button {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-decoration-line: none;
}

.button:hover{
    background-color: #812903;
    color: white;
}

.btn:hover{
    background-color: #bb3b04;
    color: white;
}

.content {
  
    position: relative;
    max-width: 911px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 25px;
    padding-top: 33px;
}

.content_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 187px;
}

.content_texts {
    width: 634px;

}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 10px;
}

.colortext {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #CF5510;
}

.heading {
    position: relative;
    width: 129px;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    margin-top: 80px;
    color: #646464;
}

.footer {
    flex-wrap: wrap;
    background: #213B7E;
    padding-top: 18px;
    padding-bottom: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.centr_u {
    color: rgba(255, 255, 255, 0.5);
}

.quotes {
    font-size: 64px;
}

.quotes_left {
    position: absolute;
    left: -33px;
    top: -7px;
}

.quotes_right {
    position: absolute;
    top: 50px;
    right: -37px;
}

.block {
    position: absolute;
    max-width: 500px;
    height: 418px;
    left: 470px;
    top: 160px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    padding: 14px 29px 60px 29px;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;

}

.login {
    width: 444px;
    height: 55px;
    left: 499.23px;
    top: 250px;
    margin-top: 36px;
    background: #FFFFFF;
    border: 1px solid #808080;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    padding: 0 10px;
    color: #808080;
}

.psw {
    width: 463.54px;
    height: 50.39px;
    left: 499.23px;
    top: 344.17px;
    margin-top: 51px;
    background: #FFFFFF;
    border: 1px solid #808080;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    padding: 0 10px;
    color: #808080;
}

.btn {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-left: 181px;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-size: 18px;
    color: white;
    border: none;
}

.visible {
    display: none;
}

/* Students */


.content-students {
padding-bottom: 579px;
width: 1202px;
height: 384px;
left: 119px;
top: 117px;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
    padding-top: 15px;
}

.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
   
}

.student {
    width: 200px;
  
}
.student_new{
    width: 200px;
    position: relative;
}
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
.new::after{
content: 'НОВИЧОК';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
position: absolute;
width: 88px;
height: 24px;
left: 443px;
top: 165px;
display: flex;
align-items: center;
margin-top: 14px;
background: #3AA828;
border-radius: 20px;
color: #FFFFFF;
animation: rotate-scale-up 0.65s linear both;
}
.student_name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    margin-top: 8px;
}

/* Контакты */
.content_contacts {
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    margin-bottom: 420px;
}

.contacts {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-left: 288px;
    color: #000000;
}

.contacts_maps {
    left: 86px;
    top: 113px;
    margin-top: 25px;
    background: url(goole-map.jpg);

}

.contacts_text {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 288px;
    color: #000000;
}

.contacts_adres {
    width: 439px;
    height: 63px;
    top: 597px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    color: #000000;
    margin-left: 288px;
}

.contacts_tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 493px;
    margin-left: 288px;
    text-decoration: underline;
}

/* О курсе */

.content_about {
    width: 147px;
    height: 35px;
    left: 286px;
    top: 113px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-top: 33px;

    color: #000000;
}

.content_about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #000000;
}

.about {
    box-sizing: border-box;
    width: 820px;
    height: 549.33px;
    left: 286px;
    top: 217px;
    background: url(video.png);
    margin-top: 15px;
    margin-bottom: 313px;
    border: 2px solid #EA5D21;
}

/* Обо мне*/
.logo{
    font-family:  "Times New Roman", sans-serif;
    font-size: 22px;
    color: #222222;
    animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

.section{
    min-width: 960px;
    height: 1015px;
    font-family:  "Times New Roman", sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: #222222;
    padding-left: 20px;
    background-image: url(img/section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.about_like{
    font-family: "Times New Roman", serif;
    font-size: 50px;
    line-height: 96px;
    font-weight: 200;
}
.content-containers{
    display: flex;      
    justify-content: center;
    padding-top:40px;
    padding-bottom:40px;
}
.container_about{
    position: relative;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_me{
width: 500px;
height: 600px;
}

.aboutme{
    font-family: "Times New Roman", serif;
    font-size: 40px;
    line-height: 96px;
    font-weight: 400;
    margin-top: 20px;
}
.box { 
    float: right;
    margin-left: 30px;
    padding: 0 20px 20px 0;
}

.title_me{
    color: #414a4f;
    margin-bottom: 10px;
 }
 .social-icons {
    text-align: center;
    margin-top: 100px;
    }  
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
  }

@media (max-width: 1024px) {

    /* Стили для планшета */
    .header {
        padding-left: 32px;
        padding-right: 32px;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .menu {
        margin-left: 0;
    }

    .menu_link {
        font-size: 18px;
        padding: 20px 14px;
    }

    .content_texts {
        width: 70%;
    }

    .content_info {
        align-items: center;
    }

    .content-students {
        padding-left: calc(50% - 736px / 2);
        padding-right: calc(50% - 736px / 2);
    }

    .content_contacts {
        padding-left: calc(50% - 736px / 2);
        padding-right: calc(50% - 736px / 2);
    }

    .contacts_maps {
        max-width: 100%;
    }
}

@media (max-width: 767px) {

    /* Стили для мобилки */
    .header {

        padding-right: 16px;
        padding-left: 16px;
    }

    .menu {
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .logo {
        display: none;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content_info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        text-align: center;
    }

    .content_texts {
        width: 90%;
    }

    .content-students {
        padding-left: 16px;
        padding-right: 16px;
    }

    .students {
        justify-content: center;
    }

    .content_about_text {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        text-align: center;
    }

    .contacts_maps {
        max-width: 100%;
    }
}